/* 公共变量 */


/* 样式重置 */

* {
    margin: 0px;
    padding: 0px;
    /*在移动端设置盒模型border-box 为了防止元素加边框或者padding出现水平滚动条*/
    box-sizing: border-box;
    /* 去除移动端按住元素的时候会出现高亮背景色 */
    -webkit-tap-highlight-color: transparent;
    /* 去掉所有移动端内边框 */
    outline: none;
}

a {
    color: #5a5a5a;
    text-decoration: none;
}

li {
    list-style: none;
}

input {
    border: 0;
}

img {
    /* 解决图片底部3px的间隙 为了让图片的对齐方式和文本一致*/
    vertical-align: middle;
}

i {
    font-style: normal;
}


/* 公共样式 */

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

h4 {
    margin: 0;
}


/* 头部区域 */

#header {
    background-color: #f4483e;
    position: relative;
}

#header .fa-angle-left {
    display: block;
    color: #fff;
    position: absolute;
    font-size: 30px;
    left: 0;
    top: 0;
    width: 40px;
    line-height: 43px;
    text-align: center;
}

#header > h4 {
    text-align: center;
    color: #fff;
    font-weight: normal;
    line-height: 43px;
}

#header > a {
    display: block;
    position: absolute;
    right: 10px;
    top: 5px;
}

#header > a > img {
    width: 34px;
    height: 34px;
}


/* 底部区域 */

#footer {
    background-color: #fff;
}

#footer .title {
    background-color: #efefef;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    height: 34px;
    line-height: 34px;
    margin-top: 25px;
}

#footer .title ul {
    display: flex;
}

#footer .title ul > li {
    width: 40%;
}

#footer .title ul > li + li {
    border-left: 1px solid #c4c4c4;
}

#footer .title ul > li > a {
    font-size: 14px;
    display: block;
    text-align: center;
}

#footer .title ul > li > a .fa-arrow-up {
    font-size: 16px;
}

#footer .content {
    text-align: center;
    font-size: 12px;
    padding: 15px 0;
    color: #5a5a5a;
    background-color: #efefef;
}

#footer .content .mobile-app {
    color: #f4483e;
    font-weight: bold;
}

#footer .content .slowly-buy {
    color: #000;
    font-weight: bold;
}

#footer .content > p {
    font-weight: bold;
}
