<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>白菜价优惠券-每天千款淘宝优惠券秒杀，一折限时疯抢！</title>
    <link rel="stylesheet" href="lib/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="lib/mui/css/mui.min.css">
    <link rel="stylesheet" href="lib/font/iconfont.css">
    <link rel="stylesheet" href="css/baicaijia.css">
    <!-- <link rel="stylesheet/less" href="less/baicaijia.less">
    <script src="lib/less/less.js"></script> -->
</head>

<body>
    <!-- 头部 -->
    <header id="header">
        <a href="index.html" class="logo">白菜价</a>
        <div class="search">
            <form action="#" method="get">
                <input type="search" placeholder="好宝贝 等你搜">
            </form>
        </div>
        <a href="javascript: ;" class="main-cat">
            <i class="icon iconfont icon-fenlei" aria-hidden="true"></i>
        </a>
    </header>
    <!-- 主体 -->
    <main id="main">
        <!-- 轮播图 -->
        <section id="slide">
            <div class="mui-slider">
                <div class="mui-slider-group mui-slider-loop">
                    <div class="mui-slider-item mui-slider-item-duplicate">
                        <a href="#"><img src="https://img.alicdn.com/imgextra/i4/2508158775/O1CN012EgzwE6jZB4gkmT_!!2508158775.jpg" /></a>
                    </div>
                    <div class="mui-slider-item">
                        <a href="#"><img src="https://img.alicdn.com/imgextra/i4/2508158775/O1CN012EgzwE6jZB4gkmT_!!2508158775.jpg" /></a>
                    </div>
                    <div class="mui-slider-item mui-slider-item-duplicate">
                        <a href="#"><img src="https://img.alicdn.com/imgextra/i4/2508158775/O1CN012EgzwE6jZB4gkmT_!!2508158775.jpg" /></a>
                    </div>
                </div>
            </div>
        </section>
        <!-- 导航栏 -->
        <nav id="nav">
            <div class="mui-content">
                <div class="mui-row">
                    <div class="mui-col-xs-3">
                        <li class="mui-table-view-cell">
                            <a class="mui-navigate-right" href="list.html?titleid=1">
                                <i class="icon iconfont icon-huo"></i>
                                <span>热销</span>
                            </a>
                        </li>
                    </div>
                    <div class="mui-col-xs-3">
                        <li class="mui-table-view-cell">
                            <a class="mui-navigate-right" href="list.html?titleid=2">
                                <i class="icon iconfont icon-99"></i>
                                <span>9.9包邮</span>
                            </a>
                        </li>
                    </div>
                    <div class="mui-col-xs-3">
                        <li class="mui-table-view-cell">
                            <a class="mui-navigate-right" href="list.html?titleid=3">
                                <i class="icon iconfont icon-liwu"></i>
                                <span>19.9包邮</span>
                            </a>
                        </li>
                    </div>
                    <div class="mui-col-xs-3">
                        <li class="mui-table-view-cell">
                            <a class="mui-navigate-right" href="hot.html">
                                <i class="icon iconfont icon-popularity_value"></i>
                                <span>超级人气榜</span>
                            </a>
                        </li>
                    </div>
                </div>
            </div>
        </nav>
        <!-- 超级人气榜 -->
        <section id="hot">
            <div class="title">
                <h4>超级人气榜</h4>
                <a href="hot.html"><i>更多</i></a>
            </div>
            <div class="content">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <ul class="clearfix">
                                <li>
                                    <a href="">
                                        <img src="https://img.alicdn.com/imgextra/i3/1013117845/TB2IWhbchTpK1RjSZFKXXa2wXXa_!!1013117845.jpg_310x310.jpg" alt="">
                                        <p>史低！新劵！高腰显瘦铅笔打底裤</p>
                                        <div class="info"><i>券后</i><em>¥</em>39.0
                                            <del>¥99</del>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- 实时优惠 -->
        <section id="discounts">
            <div class="title clearfix">
                <h4>商家优惠信息 实时直播</h4>
                <span class="real-time">09.28</span>
            </div>
            <div class="content">
                <ul class="clearfix">
                    <li class="item">
                        <a href="http://m.manmanbuy.com/tbdetail.aspx?itemid=575195344428" class="go"></a>
                        <div class="cover">
                            <span class="today">精选</span>
                            <img src="https://img.alicdn.com/bao/uploaded/i1/2075600926/TB2wx8Pr8jTBKNjSZFuXXb0HFXa_!!2075600926-0-item_pic.jpg_430x430q90.jpg">
                        </div>
                        <div class="title">
                            MIQIER 米琦尔 2件特惠装 儿童纯棉短袖T恤
                        </div>
                        <div class="info">
                            <i>券后</i><em>¥</em>10.0
                            <del>¥25</del>
                            <div class="sold">
                                <div class="bar clearfix">
                                    <a href="http://shop.m.taobao.com/shop/coupon.htm?activityId=27a14c9fc6bb4a48b917d567fcf8f664&sellerId=2246833798" class="goquan" target="_blank"></a>
                                    <i><em style="width:1%;"></em><span>1%</span></i>
                                    <b>已领82张</b>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </main>
    <!-- 分类导航 -->
    <nav class="top-menu">
        <div class="mask"></div>
        <div class="menu-content">
            <ul class="clearfix">
                <li><a href="#">全部</a></li>
            </ul>
            <span class="up-menu">收起分类</span>
        </div>
    </nav>
    <!-- 置顶 -->
    <a id="gotop" href="javascript:;" style="display: none;">
        <i class="icon iconfont icon-zhiding"></i>
    </a>
    <script src="lib/zepto/zepto.min.js"></script>
    <script src="lib/mui/js/mui.min.js"></script>
    <script src="js/baicaijia.js"></script>
    <script src="lib/swiper/js/swiper.min.js"></script>
    <!-- 超级人气榜处模板 -->
    <script src="lib/artTemplate/template-web.js"></script>
    <script type='text/html' id='titContpl'>
        <% for(var i = 0; i < 8; i++){ %>
            <li>
                <a href="#">
                    <%- result[i].productImg %>
                        <p>
                            <%- result[i].productName %>
                        </p>
                        <div class="info">
                            <%- result[i].productPrice %>
                        </div>
                </a>
                <div>
                    <%- result[i].productCoupon %>
                </div>
            </li>
            <% } %>
    </script>
    <!-- 优惠信息模板处 -->
    <script type="text/html" id="disContpl">
        <% for(var i = 2; i < result.length; i++){ %>
            <li class="item">
                <div class="cover">
                    <% if(i<8){ %>
                    <span class="today">精选</span>
                    <% }else if(i<14){ %>
                    <span class="today">好货</span>
                    <% }else{ %>
                    <span class="today">卷 ￥15</span>
                    <% } %>
                    <%- result[i].productImg %>
                </div>
                <div class="title">
                    <%- result[i].productName %>
                </div>
                <div class="info">
                    <%- result[i].productPrice %>
                    <div class="sold">
                    <div class="bar clearfix">
                        <a href="http://shop.m.taobao.com/scoupon.htm?activityId=27a14c9fc6bb4a48b917d567fcf8f664&sellerId=2246833798" class="goqutarget=" _blank "></a><i><em style="width:1%; "></em><span>1%</span></i><b>已领82张</b></div>
                    </div>
                </div>
                <a href="shangpinxiangqing.html?productId=<%- result[i].productId %>&category=0" class="go"></a>
            </li>
        <% } %>
    </script>
    <!-- 分类导航模板处 -->
    <script type="text/html " id="tMContpl">
        <% for(var i = 0; i < result.length; i++){ %>
        <li>
            <a href="list.html?titleid=<%- result[i].titleId %>">
                <%- result[i].title %>
            </a>
        </li>
        <% } %>
    </script>
</body>

</html>
