<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>品牌大全</title>
    <link rel="stylesheet" href="lib/mui/css/mui.min.css">
    <link rel="stylesheet" href="lib/font/iconfont.css">
    <link rel="stylesheet/less" href="less/distop.less">
    <script src="lib/less/less.js"></script>
</head>

<body>
    <!-- 头部 -->
    <header id="header">
        <div class="title">
            <div class="logo">
                <a href="#">
                    <img src="https://img.alicdn.com/imgextra/i1/690311/TB2cMR0aQUmBKNjSZFOXXab2XXa_!!690311.png" alt="慢慢买手机版">
                </a>
            </div>
            <div class="appdown">
                <a href="#">
                    <img src="https://img.alicdn.com/imgextra/i2/690311/TB2beKvaTXYBeNkHFrdXXciuVXa_!!690311.png" alt="手机app下载">
                </a>
            </div>
        </div>
        <form action="#">
            <input class="searchtxt" value="" name="key" type="search" placeholder="请输入你想比价的商品">
            <input class="searchbtn" type="submit" value="搜索">
        </form>
    </header>
    <!-- 主体 -->
    <main id="main">
        <div class="nav">
            <a href="index.html">首页</a>
            <a href="top10.html">> 品牌大全</a>
        </div>
        <div class="content1">
            <div class="title">平板电视哪个牌子好</div>
            <div class="sortlist">
                <ul>
                    <li>
                        <a href="#">
                            <em>1</em>
                            <div class="inner">
                                <div class="tit">海信平板电视</div>
                                <p>30天全网销量：1455352件</p>
                            </div>
                            <i class="icon iconfont icon-arrow-right-copy"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content2">
            <div class="title">
					<a href="#">平板电视产品销量排行</a>
            </div>
            <div class="prolist">
                <ul>
                  <li>
                    <a href="#" title="海信(Hisense) LED55EC500U 55英寸 4K超高清  智能液晶电视">
                    		<div class="pic"> 
                    			<img src="http://pro-img.zuyushop.com/ProPic/20179/Thumb/Thumb_2017090008503540540.jpg" width="100" height="100" alt="海信(Hisense) LED55EC500U 55英寸 4K超高清  智能液晶电视"> 
                    		</div>
                    		<div class="info">
                    			<div class="tit">海信(Hisense) LED55EC500U 55英寸 4K超高清  智能液晶电视</div>
                    			<div class="price clearfix">
                    				<em>￥2299.00</em> 
                    				<span class="star">★★★★★</span>
                    			</div>
                    			<div class="other">
                    				<em>报价(5)</em>
                    				<em>全网评论(403231)</em>
                    			</div>
                    		</div>
                    	</a>
                  </li>
                </ul>
            </div>
        </div>
        <div class="content3">
            <div class="title">
					<a href="#">平板电视最有用的用户评论</a>
            </div>
            <div class="pllist">
                <ul>
                  <li>
                  	<a href="#">
                  		<div class="protit"> 
                  			<div class="pic"> 
                  				<img src="http://pro.zuyushop.com:8015/ProPic/201411/small80/Thumb_2014110008364442033.jpg"  alt="LG 49LF5400 49英寸 全高清 普通LED液晶电视"> 
                  			</div>
                  			<div class="tit">LG 49LF5400 49英寸 全高清 普通LED液晶电视</div>
                  		</div>
                  	</a>
                  	<div class="plbox">
                  		<a href="#">
                  			<div class="name">
                  				8***m：
                  				<span class="star">
                  				<em class="star5">★★★★★</em>
                  				</span>
                  				<i>2014/12/20</i>
                  			</div>
                  			<div class="con">
                  			这款液晶电视对比其它品牌电视最喜欢的是采用IPS硬屏液晶面板，屏幕比较坚固，质量应该比其它液晶面板会好，极其突出了这款电视的性价比；色彩使用了1920*1080P的分辨率，三重XD引擎，提高了色质的水准、对比度和清晰度，呈现的画质和性能画面色彩也比较清晰，显示效果也比较细腻自然；外观方面采用生动锐利铜钱纹样设计，简约的白色电视底座搭配银色的窄边框感觉比较简单时尚，也是比较喜欢的；功能使用简单，菜单键进入图像，生意，设置，时间，选项，输入，我的媒体8个功能主题，2组HDMI接口满足了我的DVD设备和网络电视机顶和的使用，1组数字音响输出满足我外接5.1音响系统的需要，画面比例点对点扫描，让我接电脑主机的画面设置更简单；炫亮人声Ⅰ，畅听清晰对话的设计。自动识别和加强电影和电视节目中的人声的功能，使我听到的背景声音更清晰突显，标注.音乐.电影.运动.游戏五个声音模式选择满足了日常视听的需求。LG的国际品牌也是比较让大家信赖的。
                  			</div>
                  		</a>
                  	</div>
                  </li>
                </ul>
            </div>
        </div>
    </main>
    <!-- 底部 -->
    <footer id="footer">
        <div class="foot_top">
            <a href="#">登录</a>
            <a href="#">注册</a>
            <a href="#"><img src="http://www.zuyushop.com/wap/images/top.jpg" width="15" height="15">返回顶部</a>
        </div>
        <div class="footer">
            <p>
                <a href="http://m.manmanbuy.com/app.html?type=footword&amp;value=wap" onclick="trackEvent('footer下载');" style="color: Red;">手机APP下载</a><a href="http://m.manmanbuy.com">慢慢买手机版</a> -- 掌上比价平台</p>
            <p>m.manmanbuy.com<img src="http://c.cnzz.com/wapstat.php?siteid=1256699064&amp;r=http%3a%2f%2fm.manmanbuy.com%2fdistop.aspx%3fid%3d4&amp;rnd=988838725" width="0" height="0">
            </p>
        </div>
    </footer>
    <script src="lib/zepto/zepto.min.js"></script>
    <script src="lib/mui/js/mui.min.js"></script>
    <script src="js/distop.js"></script>
    <script src="lib/artTemplate/template-web.js"></script>
    <!-- 品牌 -->
    <script type='text/html' id="sorttpl">
        <% for(var i = 0; i < result.length; i++){ %>
            <li>
                <a href="brandtitle1.html?brandtitleid=<%- result[i].brandId %>">
                    <% if(i==0){ %>
                     <em style="background-color: #f10e0e;"><%- i+1 %></em>
                    <% }else if(i==1){ %>
                     <em style="background-color: #ff9314;"><%- i+1 %></em>
                    <% }else if(i==2){ %>
                     <em style="background-color: #8adf5b;"><%- i+1 %></em>
                    <% }else{ %>
                     <em><%- i+1 %></em>
                    <% } %>
                     <div class="inner">
                     <div class="tit">
                    <%- result[i].brandName %>
                     </div>
                     <p>
                    <%- result[i].brandInfo %>
                     </p>
                     </div>
                     <i class="icon iconfont icon-arrow-right-copy"></i>
                </a>
            </li>
      <% } %>
    </script>
	 <!-- 销量 -->
    <script type='text/html' id="portpl">
        <% for(var i = 0; i < result.length; i++){ %>
            <li>
              <a href="#" title="<%- result[i].brandName %>">
              		<div class="pic"> 
              			<%- result[i].productImg %>
              		</div>
              		<div class="info">
              			<div class="tit"><%- result[i].productName %></div>
              			<div class="price">
              				<em><%- result[i].productPrice %></em> 
              				<span class="star">★★★★★</span>
              			</div>
              			<div class="other">
              				<em><%- result[i].productQuote %></em>
              				<em><%- result[i].productCom %></em>
              			</div>
              		</div>
              	</a>
            </li>
      <% } %>
    </script>
    <!-- 评价1 -->
    <script type='text/html' id="plltpl">
        <% for(var i = 0; i < result.length; i++){ %>
            <li>
            	<a href="#">
            		<div class="protit"> 
            			<div class="pic"> 
            				<%- result[i].productImg %>
            			</div>
            			<div class="tit"><%- result[i].productName %></div>
            		</div>
            	</a>
            	<div class="plbox" index=<%- result[i].productId %>>
            		
            	</div>
            </li>
        <% } %>
    </script>
    <!-- 评论2 -->
    <script type='text/html' id='pllcontpl'>
    <% for(var i = 0; i < result.length; i++){ %>
    	
    		<a href="#">
      		<div class="name">
      			<%- result[i].comName %>
      			<span class="star">
      			<em class="star5">★★★★★</em>
      			</span>
      			<i><%- result[i].comTime %></i>
      		</div>
      		<div class="con">
      		<%- result[i].comContent %>
      		</div>
      	</a>
      	
    <% } %>
    </script>
</body>

</html>
