<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>淘宝优惠券</title>
    <link rel="stylesheet" href="lib/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="lib/mui/css/mui.min.css">
    <link rel="stylesheet" href="lib/font/iconfont.css">
    <link rel="stylesheet" href="css/list.css">
    <!-- <link rel="stylesheet/less" href="less/list.less">
    <script src="lib/less/less.js"></script> -->
</head>
<body>
    <!-- 头部 -->
    <header id="header">
        <a href="baicaijia.html" class="main-back">
            <i class="icon iconfont icon-jiantou-copy" aria-hidden="true"></i>
        </a>
        <div class="menu-detail">
            <span>包邮</span>
            <i class="icon iconfont icon-jiantouarrow483" aria-hidden="true"></i>
        </div>
        <a href="baicaijia.html" class="main-home">
            <i class="icon iconfont icon-fangzi" aria-hidden="true"></i>
        </a>
    </header>
    <!-- 导航 -->
    <nav class="order-nav">
        <ul class="clearfix">
            <li class="cur"><span><a href="javascript:ODDS.prototype.getOddsContent(1);">人气</a></span></li>
            <li><span><a href="javascript:ODDS.prototype.getOddsContent(3);">最新</a></span></li>
            <li><span><a href="javascript:ODDS.prototype.getOddsContent(4);">销量</a></span></li>
            <li><span><a href="javascript:ODDS.prototype.getOddsContent(5);">价格</a></span></li>
        </ul>
    </nav>
    <!-- 主体 -->
    <main id="main">
        <ul class="clearfix">
            <li class="item">
                <a href="http://m.manmanbuy.com/tbdetail.aspx?itemid=575195344428" class="go"></a>
                <div class="cover">
                    <span class="today">精选</span>
                    <img src="https://img.alicdn.com/bao/uploaded/i1/2075600926/TB2wx8Pr8jTBKNjSZFuXXb0HFXa_!!2075600926-0-item_pic.jpg_430x430q90.jpg">
                </div>
                <div class="title">
                    MIQIER 米琦尔 2件特惠装 儿童纯棉短袖T恤
                </div>
                <div class="info">
                    <i>券后</i><em>¥</em>10.0
                    <del>¥25</del>
                    <div class="sold">
                        <div class="bar clearfix">
                            <a href="http://shop.m.taobao.com/shop/coupon.htm?activityId=27a14c9fc6bb4a48b917d567fcf8f664&sellerId=2246833798" class="goquan" target="_blank"></a>
                            <i><em style="width:1%;"></em><span>1%</span></i>
                            <b>已领82张</b>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </main>
    <!-- 置顶 -->
    <a id="gotop" href="javascript:;" style="display: none;">
        <i class="icon iconfont icon-zhiding"></i>
    </a>
    <!-- 分类导航 -->
    <nav class="top-menu">
        <div class="mask"></div>
        <div class="menu-content">
            <ul class="clearfix">
                <li><a href="#">全部</a></li>
            </ul>
            <span class="up-menu">收起分类</span>
        </div>
    </nav>
    <script src="lib/zepto/zepto.min.js"></script>
    <script src="lib/mui/js/mui.min.js"></script>
    <script src="js/list.js"></script>
    <script src="lib/artTemplate/template-web.js"></script>
    <!-- 分类导航模板处 -->
    <script type="text/html " id="tMContpl">
        <% for(var i = 0; i < result.length; i++){ %>
            <li>
                <a href="list.html?titleid=<%- result[i].titleId %>">
                    <%- result[i].title %>
                </a>
            </li>
        <% } %>
    </script>
    <!-- 内容模板 -->
    <script type="text/html" id="mainContpl">
        <% for(var i = 2; i < result.length; i++){ %>
            <li class="item">
                <div class="cover">
                    <% if(i<8){ %>
                    <span class="today">精选</span>
                    <% }else if(i<14){ %>
                    <span class="today">好货</span>
                    <% }else{ %>
                    <span class="today">卷 ￥15</span>
                    <% } %>
                    <%- result[i].productImg %>
                </div>
                <div class="title">
                    <%- result[i].productName %>
                </div>
                <div class="info">
                    <%- result[i].productPrice %>
                    <div class="sold">
                        <div class="bar clearfix">
                            <a href="http://shop.m.taobao.com/scoupon.htm?activityId=27a14c9fc6bb4a48b917d567fcfsellerId=2246833798" class="goqutarget=" _blank "></a><i><em style="width:1%; "></em><span>1%></i><b>已领82张</b>
                        </div>
                    </div>
              </div>
              <a href="shangpinxiangqing.html?productId=<%- result[i].productId %>&category=0" class="go"></a>
          </li>
        <% } %>
    </script>
</body>
</html>
